<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkweb.csbasedata.dao.SchoolManageDao">

  <!-- 获取学校详细信息-->
  <select id="getSchoolInfo" parameterType="long" resultType="JSONObject">
       SELECT a.mc AS areaName,s.name AS schoolName,group_concat(concat(d.dm,'%',d.mc)) AS stages,
       s.schoolType AS schoolType,s.address AS schoolAddress,s.phone AS phone,
       from_unixtime(s.createTime,'%Y-%m-%d') AS createTime FROM ${dbname_school}.t_school s 
       LEFT JOIN ${dbname_school}.t_school_stage sg ON sg.schoolId = s.id 
       LEFT JOIN ${dbname_school}.t_dic_stage d ON sg.stage = d.dm 
       LEFT JOIN ${dbname_school}.t_dic_areacode a ON s.areaCode = a.dm
       WHERE s.id = #{schoolId}
  </select>
  
  <update id="updateSchoolInfo" parameterType="JSONObject">		
		UPDATE ${dbname_school}.t_school SET name = #{schoolName}, schoolType = #{schoolType}, 
		address = #{schoolAddress}, phone = #{phone} WHERE id = #{schoolId}	
  </update>
  
  <delete id="deleteSchoolStage" parameterType="JSONObject">
        DELETE FROM ${dbname_school}.t_school_stage WHERE schoolId = #{schoolId}
  </delete>
   
  <insert id="insertSchoolStage" parameterType="List">
        INSERT INTO ${dbname_school}.t_school_stage(schoolId,stage)VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
		   (#{item.schoolId}, #{item.stage}) 	   
		</foreach>
  </insert>
  
</mapper>